body{
    background-color: #f4f4f4;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
/*globalno*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.img{
    max-width: 100%;
    max-height: 100%;
}
.slike{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: space-evenly;
}
.matej img{
    width: 400px;
    height: 400px;
}
.mihajlo img{
    width: 400px;
    height: 400px;
}
.slike h2{
    color: rgb(38, 87, 223);
}
.slike p{
    color: rgb(179, 196, 241);;
    max-width: 500px;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background-color: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark{
    padding: 15px;
    background-color: #35424a;
    color: #ffffff ;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*header*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/*showCase*/
#showcase{
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/Z.jpg') no-repeat 0;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
#showcaseINDEX{
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/aaa.jpg') no-repeat 0;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}
/*newsletter*/
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*boxes*/
#boxes{
    margin-top: 20px;
}

#boxes .box {
    flex: 1;
    text-align: center;
}

#boxes .box img{
    width: 120px;
   
}

#boxes .container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Razmak između kutija */
}

#boxes .box:last-child {
    margin-right: 0;
}

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/*main-col*/
article#main-col{
    float: left;
    width: 65%;
}

/*services*/
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
footer{
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    padding: 20px;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project {
    flex: 1 1 calc(33% - 20px); /* Svaki projekat zauzima 50% širine minus gap razmak */
    margin-bottom: 20px; /* Razmak između projekata */
}

.project-description-label {
    padding-bottom: 10px;
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    margin-top: 10px;
}

.project p {
    font-size: 14px;
}

.input-group {
    width: 100%; 
    flex-direction: column;
}

.input-group textarea {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    resize: vertical; 
}

.form-action {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

/*media queris*/
@media(max-width:768px){
    header#brading,
    header nav,
    #newsletter h1,
    #newsletter form,
    #boxes .box,    
    header nav li,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote button, .quote textarea  {
        width: 100%;
        margin-bottom: 5px;
    }

    #boxes .container {
        flex-direction: column; /* Postavljanje kutija u vertikalni raspored */
        align-items: center; /* Centriranje kutija */
        gap: 10px; /* Manji razmak između kutija */
    }

    #boxes .box {
        width: 100%; /* Svaka kutija zauzima 100% širine */
        margin-right: 0; /* Uklanjanje margine sa desne strane */
    }

    #portfolio {
        flex-direction: column; /* Postavljanje projekata u vertikalni raspored */
        align-items: center; /* Centriranje projekata */
        gap: 10px; /* Manji razmak između projekata */
    }

    .project {
        width: 100%; /* Svaki projekat zauzima 100% širine */
        max-width: none; /* Uklanjanje maksimalne širine */
    }
}